# üßë‚Äçüè´ Data Storytelling Projects with Titanic & Tips Datasets


## üìå Objective:
Explore and analyze two popular datasets ‚Äì Titanic and Tips ‚Äì as **two separate data storytelling projects**.  
Each project must end with a **summary dashboard** created using **matplotlib** and **seaborn**. Use of `plotly` is optional for interactivity.

## üìÅ PROJECT 1: Titanic Dataset Analysis

### üîπ Step 1: Load & Explore Data
- Load Titanic dataset using seaborn
- Check missing values, data types, and basic statistics

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

df_titanic = sns.load_dataset("titanic")
df_titanic.info()
df_titanic.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### üîπ Step 2: Data Cleaning
- Handle missing values (e.g., `age`, `embarked`, `deck`)
- Convert categorical variables if necessary
- Filter or clean as needed

### üîπ Step 3: Thematic Analysis
1. **Survival rate by gender** ‚Üí Bar plot `sex` vs `survived`  
2. **Survival rate by passenger class** ‚Üí Stacked bar or countplot  
3. **Age distribution by survival** ‚Üí KDE or histogram  
4. **Embarked location vs survival** ‚Üí Countplot with hue

### üîπ Step 4: Write Insights
- Provide 2‚Äì4 sentences explaining each chart.
- Ask: Who had higher survival chances? Which features mattered most?

### üîπ Step 5: Create Summary Dashboard
- Combine the four charts into one dashboard layout using `matplotlib` subplots.
- Annotate key insights on the charts.

üìå **Tools:** `matplotlib`, `seaborn`  
üõ†Ô∏è **Optional:** `plotly` for enhanced interactivity

## üìÅ PROJECT 2: Tips Dataset Analysis

### üîπ Step 1: Load & Explore Data

In [2]:
df_tips = sns.load_dataset("tips")
df_tips.info()
df_tips.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

### üîπ Step 2: Thematic Analysis
1. **Total bill vs tip** ‚Üí Scatterplot with trendline  
2. **Tip by gender and day** ‚Üí Grouped barplot  
3. **Tip ratio (tip/total_bill) by party size** ‚Üí Boxplot or barplot  
4. **Tips by time (Lunch vs Dinner)** ‚Üí Violinplot or boxplot

### üîπ Step 3: Write Insights
- Explain which factors affect tip amount.
- Are there differences by gender, time, or day?

### üîπ Step 4: Create Summary Dashboard
- Combine charts into a single dashboard using `matplotlib` subplots.
- Add annotations and highlights of key findings.

üìå **Tools:** `matplotlib`, `seaborn`  
üõ†Ô∏è **Optional:** `plotly` for interactive visualizations

## üì¶ SUBMISSION REQUIREMENTS
Each project should be submitted in a separate folder:
- üìÑ `project_report.md` or PDF: Summary of analysis and insights
- üìä Code file (`.py` or `.ipynb`)
- üì∑ Dashboard image (PNG/JPG)

**Evaluation Criteria:**
- Correct data analysis process  
- Clear and well-labeled visualizations  
- Meaningful insights  
- Organized and readable dashboard